<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thumalien - Analyse de Feed</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-content">
            <a href="/" class="nav-title">Thumalien</a>
            <button class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="nav-menu">
                <a href="/" class="nav-link">Retour à l'accueil</a>
            </div>
        </div>
    </nav>


    <main>
        <h1 class="hero-title">Analyse du compte : ------ </h1>
    </main>

</body>
